@font-face {
    font-family: 'Satisfy';
    src: url('fonts/Satisfy.eot');
    src: url('fonts/Satisfy.eot?#iefix') format('embedded-opentype'),
    url('fonts/Satisfy.woff') format('woff'),
    url('fonts/Satisfy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-Regular.eot');
    src: url('fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/SourceCodePro-Regular.woff') format('woff'),
    url('fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -99999999px 0;}
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -99999999px 0;}
}

*, *:after, *:before {
    box-sizing: border-box;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

.parallax {
    width: 100%;  /*legacy support*/
    height: 100%; /*legacy support*/
    width: 100vw;
    height: 100vh;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.water {
    background: url("water.jpg") repeat-x;
    background-size: cover;
    animation: backgroundScroll 500000s linear infinite;
    max-height: 20%;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;
}

.hills {
    background: url("hills.png") repeat-x;
    background-size: cover;
    animation: backgroundScroll 1000000s linear infinite;
    max-height: 5%;
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 20%;
    left: 0;
    z-index: 4;
}

.mountains {
    background: url("mountains.png") repeat-x;
    background-size: cover;
    animation: backgroundScroll 2000000s linear infinite;
    max-height: 40%;
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 20%;
    left: 0;
    z-index: 2;
}

.sky {
    background: url("sky.jpg") repeat-x;
    background-size: cover;
    animation: backgroundScroll 4000000s linear infinite;
    min-height: 100%;
    width: 100%;
    position: absolute;
    bottom: 20%;
    left: 0;
    z-index: 0;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.header {
    width: 100%;
    font-size: 6em; /*legacy support*/
    font-size: 6vw;
    position: relative;
    top: 0.2em;
    left: 0;
}

.header, .courseName, .winHeader {
    font-family: 'Satisfy', 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 1px #4f4f4f;
    color: #ffffff;
}

.courseName {
    position: relative;
    font-size: 2.5em; /*legacy support*/
    font-size: 2.5vw;
    height: 25%;
    z-index: 100;
}

.description {
    font-family: 'Source Code Pro', Monospace, sans-serif;
    color: #4f4f4f;
    position: relative;
    height: 75%;
    padding: 0 20px;
    z-index: 100;
}

.description p:first-child {
    min-height: 230px;
    font-size: 0.9em; /*legacy support*/
    font-size: 0.9vw;
    font-weight: 500;
}

.courseBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #cccccc;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border-radius: 25px;
    border: 2px solid #8a8a8a;
    z-index: 10;
}

.course1, .course2 {
    width: 36%;
    display: inline-block;
    margin-top: 3em;
    padding: 40px;
}

.course1 {
    position: relative;
    left: 10%;
}

.course2 {
    position: absolute;
    right: 10%;
}

.date {
    font-size: 1.1em; /*legacy support*/
    font-size: 1.1vw;
    font-weight: 700;
}

button {
    cursor: pointer;
    position: relative;
    color: #ffffff;
    text-shadow: 2px 2px 1px #1f284d;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    backface-visibility: hidden;
}

.enrollButton {
    position: relative;
    background-color: #7179A6;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 8px;
    border: 2px solid #535C96;
    width: 30%;
    min-width: 90px;
    height: 54px;
    margin: 30px 35% 0 35%;
    font-size: 1.8em; /*legacy support*/
    font-size: 1.8vw;
    font-weight: 700;
    z-index: 200;
}

.enrollButton:active {
    background: #8D96B9;
    top: 2px;
}

.enrollButton span {
    display: inline-block;
    font-family: 'Satisfy', 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.enrollButton:hover span {
    transform: translateY(300%);
}

.enrollButton:before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    font-size: 1.25em;
    font-size: 2.3vw;
    line-height: 1.15em;
    transition: all 0.3s;
}

.enrollButton:hover:before {
    top: 0;
}

.enrollButton:active:before {
    color: #535C96;
}

.icon {
    font-family: 'FontAwesome', Times, serif;
}

.icon-cap:before {
    content: "\f19d";
}

.icon-arrow-right:before {
    content: "\f061";
}

.icon-arrow-left:before {
    content: "\f060";
}

.navigation-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
}

.nav {
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1.1em;
    font-size: 1.1vw;
    text-shadow: 1px 1px 0 #000000;
    min-height: 45px;
    min-width: 45px;
    height: 90px; /*legacy support*/
    width: 90px;  /*legacy support*/
    height: 10vmin;
    width: 10vmin;
    background-color: #1f284d;
    opacity: 0.6;
    filter: alpha(opacity=60);
    overflow: hidden;
}

.nav span {
    font-family: 'Source Code Pro', Monospace, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav:active {
    border-color: #40529f;
    color: #5675d7;
}

.nav:hover {
    background-color: #597de2;
}

.nav:before {
    position: absolute;
    height: 100%;
    font-size: 90%;
    line-height: 2.5em;
    color: #fff;
    transition: all 0.3s;
}

.nav:active:before {
    color: #404e98;
}

.nav-left {
    position: absolute;
    top: 500px;
    right: 47.6%;
}

.nav-left:before {
    left: 70%;
    top: 0;
    opacity: 0;
}

.nav-left:hover:before {
    left: 25%;
    opacity: 1;
}

.nav-right {
    position: absolute;
    top: 300px;
    right: 47.6%;
}

.nav-right:before {
    right: 70%;
    top: 0;
    opacity: 0;
}

.nav-right:hover:before {
    right: 25%;
    opacity: 1;
}

#enrollment_form, .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  /*legacy support*/
    height: 100%; /*legacy support*/
    width: 100vw;
    height: 100vh;
    z-index: 600;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 700;
}

.popWin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 400px;
    min-width: 800px;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    border-radius: 20px;
    background-color: #878c9f;
    border: 2px solid #3f414a;
    color: #d9d9d9;
    z-index: 800;
}

.winHeader {
    position: relative;
    font-size: 3em; /*legacy support*/
    font-size: 3vw;
    color: #ffffff;
    padding: 20px;
}

.details, .details-description {
    font-family: 'Source Code Pro', Monospace, sans-serif;
    font-size: 0.9em; /*legacy support*/
    font-size: 0.9vw;
    font-weight: 500;
    position: relative;
}

.details {
    width: 350px;
    display: inline-block;
}

.details-left {
    left: 80px;
}

.details-right {
    left: 200px;
}

.details-description {
    margin: 10px 80px 40px 80px;
    font-size: 0.75em; /*legacy support*/
    font-size: 0.75vw;
}

.winButtons {
    position: relative;
}

.popButton {
    font-size: 1.2em;
    font-size: 1.2vw;
}
